body{
    overflow-y:scroll;
}
#header{
    width:100%;
    height:100px;
    background-color: #133783;
}
#main{
    padding:20px 60px;
    min-width: 600px;
}
#left{
    width:240px; 
    height:500px;
    float:left;
    overflow: hidden;
    border-right: 1px solid grey;
}
#center{ 
    padding-left: 270px;
}
#right{
    float:right;
}
#form_gen_records{
    margin-top:10px;
}
h1.logo{
    color:white;
    padding:5px 30px;
}
#main_menu li{
    list-style: none;
    float:left;
    padding-left:15px;
}
#main_menu li a{
    color:white;
}
.desc{
    color:grey;
    margin-left: 10px;
}
table{     
    width:90%;
    margin-top:20px;
    border-collapse: collapse; 
} 
td, th {
    padding: 4px 20px; 
    border: 1px solid maroon; 
}
.msg{
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px 15px;
    margin:10px 0;
    width:90%;
    background-color: #32cd32;
    color:white;
}
.msg .error{
    color:red;
}
